### Supermarket Simulation Using Markov Chains

In [1]:
import pandas as pd

### 1. EDA

In [3]:
df = pd.read_csv('_RES/monday.csv', sep=';')

In [4]:
df.shape

(4884, 3)

In [5]:
df.head()

             timestamp  customer_no location
0  2019-09-02 07:03:00            1    dairy
1  2019-09-02 07:03:00            2    dairy
2  2019-09-02 07:04:00            3    dairy
3  2019-09-02 07:04:00            4    dairy
4  2019-09-02 07:04:00            5   spices

In [6]:
df.tail()

                timestamp  customer_no  location
4879  2019-09-02 21:49:00         1442  checkout
4880  2019-09-02 21:49:00         1444  checkout
4881  2019-09-02 21:49:00         1445     dairy
4882  2019-09-02 21:50:00         1446     dairy
4883  2019-09-02 21:50:00         1447     fruit

#### Calculate the total number of customers in each section

In [10]:
df.groupby('location')['customer_no'].groups

{'checkout': Int64Index([   8,    9,   12,   13,   20,   24,   25,   26,   29,   31,
             ...
             4838, 4839, 4854, 4858, 4862, 4864, 4869, 4871, 4879, 4880],
            dtype='int64', length=1437),
 'dairy': Int64Index([   0,    1,    2,    3,   10,   14,   18,   23,   46,   47,
             ...
             4820, 4843, 4844, 4846, 4863, 4865, 4868, 4873, 4881, 4882],
            dtype='int64', length=895),
 'drinks': Int64Index([  11,   16,   21,   39,   43,   44,   50,   60,   61,   68,
             ...
             4831, 4832, 4837, 4845, 4851, 4852, 4857, 4861, 4870, 4872],
            dtype='int64', length=797),
 'fruit': Int64Index([   7,   15,   19,   27,   32,   34,   35,   37,   45,   49,
             ...
             4847, 4848, 4849, 4853, 4860, 4866, 4867, 4875, 4876, 4883],
            dtype='int64', length=1005),
 'spices': Int64Index([   4,    5,    6,   17,   22,   28,   30,   38,   42,   52,
             ...
             4809, 4815, 4842, 4850, 4855, 4856, 4859, 4874, 4877, 4878],
            dtype='int64', length=750)}

In [9]:
# Calculate the total number of customers in each section over time